<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Meerkat Dashboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

        <!-- Custom stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div class="row">
            <h1>Welcome to the Meerkat Dashboard!</h1>
            <img src="/img/<%= rand %>.jpg">
        </div>
        <div class="the_form col-sm-4 col-sm-offset-4">
            <form action="/meerkats/<%= meerkat.id %>" method="post">
                <h3>Update this meerkat!</h3>
                Name:
                <input type="text" name="name" value="<%= meerkat.name %>"><br><br>
                Age:
                <input type="number" name="age" value="<%= meerkat.age %>"></input><br><br>
                Speed:
                <input type="number" name="speed" value="<%= meerkat.speed %>"></input><br><br>
                Favorite food:
                <input type="test" name="food" value="<%= meerkat.food %>"></input><br><br>
                <input type="submit" value="Update" class="btn btn-default">
                <br>-or-<br>
                <input type="submit" formaction="/meerkats/destroy/<%= meerkat.id %>" value="Delete this meerkat">
                <br>-or-<br>
                <input type="submit" formaction="/meerkats/new" formmethod="get" value="Add a new meerkat to the pack">
            </form>
        </div>
        <div class="row">
            <section class="col-sm-4 col-sm-offset-4">
                <br><a href="/">Return to the pack den</a>
            </section>
        </div>
    </body>
</html>
